@import '../base/typo.scss';

#authorize_form_section{
    margin-top: var(--common_margin_top);
    font-size: 1.2em;
    form{
        display: flex;
        flex-flow: column;
        gap: 1em;
    }
    .form_group{
        display: flex;
        flex-flow: column;
        input{
            background-color: var(--accent2);
            border: none;
            outline: none;
            border-radius: var(--border_radius0);
            padding: .25em;
            color: var(--proj_white);
            width: 70%;
            font-size: .9em;
        }
        input:focus{
            background-color: var(--proj_black);
            border: .25em solid var(--accent2);
        }


        input[type="submit"]{
            background-color: var(--proj_black);
            margin-top: 1em;
            padding: .25em;
            width: 8em;
        }
        input[type="submit"]:hover{
            cursor: pointer;
            background-color: var(--accent2);
        }
    }
    .label_ctnr{
        display: flex;
        align-items: center;
        gap: .5em;
        p:first-of-type{
            font-size:var(--sm_sz);
        }
    }
    .tiny_text{
        @include light_type();
        font-size: var(--xsm_sz);
        letter-spacing: var(--md_space);
        color: var(--proj_black);
    }
    #action_change{
        @include xlight_type();
        display: block;
        text-decoration: underline;
        font-size: 1em;
        color: var(--proj_black);
        transition: .5s;
    }
    #action_change:hover{
        text-decoration: none;
        transition: .5s;
    }
    #error_message_ctnr{
        display: none;
        font-size: .8em;
        color: red;
        border: .09em solid red;
        padding: .25em;
        border-radius: var(--border_radius0);
        width: max-content;
        p{
            color: red;
        }
    }
}