
#main_header_section{
    position: relative;
    // margin-bottom: var(--common_margin_bottom);
    ul{
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        padding: 1em;
    }
    a{
        display: block;
        color: var(--accent1);
    }
    .active{
        color: var(--proj_white);
        text-decoration: none;
    }
    .header_img{
        position: absolute;
        width: 100vw;
        top: -1em;
        z-index: 99;
    }

}


@media only screen and (min-width: 769px){
    #main_header_section{
        background-color: var(--accent2);
        .header_img{
            display: none;
        }
    }
}

@media only screen and (min-width: 1201px){
    #main_header_section{
        .header_img{
            top: -6em;
        }
    }
}