@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300&display=swap');


html, body{
    margin: 0;
    padding: 0;
    min-width: 375px;
    font-family: 'Roboto', sans-serif;

    --primary: #6b5c8f;
    --secondary: #BCB0D8;
    --accent1: #D7CFE7;
    --accent2: #4A4060;
    --accent3: #9380C0;
    --accent4: #A190C8;
    --proj_gray: #707070;
    --proj_black: #252030;
    --proj_white: #F2EFF7;


    --xsm_sz: .7em;
    --sm_sz: .9em;
    --md_sz: 1.1em;
    --lg_sz: 1.3em;
    --xlg_sz: 1.6em;

    
    --xsm_wt: 100;
    --sm_wt: 300;
    --md_wt: 400;
    --lg_wt: 700;
    --xlg_wt: 900;
    
    --sm_space: -1px;
    --md_space: .5px;
    --lg_space: 1px;


    --common_margin_top: 2em;
    --common_margin_bottom: 3em;
    --common_section_padding: 2em;

    --border_radius0: .3em;
    --border_radius1: 1em;
    --border_radius2: 1.3em;

    --font_fam1 : 'Roboto', sans-seif;
    --font_fam2 : 'Roboto Condensed', sans-seif;

    #root{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
}

body[data-body_type='alt1']{
    background-color: unset;
}

body[data-body_type='alt2']{
    background-color: var(--proj_black);
}

body[data-body_type='alt3']{
    background-color: var(--proj_white);
}
