#About{
    background-color: var(--proj_black);
    padding: var(--common_section_padding);
    .heading_ctnr{
        p{
            color: var(--secondary);
        }
        h1{
            color: var(--accent1);
        }
        small{
            color: var(--secondary);
        }
    }
    h4{
        border-bottom: .09em solid var(--primary);
        color: var(--primary);
        max-width: max-content;
        text-align: center;
        margin: 0 auto;
    }
}

// body{
//     background-color: var(--proj_black);
// }