#Landing{
    .heading_ctnr{
        padding: var(--common_section_padding);
        p{
            color: var(--proj_gray);
        }
        h1{
            color: var(--accent2);
        }
    }
}

#Explanation1{
    padding: var(--common_section_padding);
    display: flex;
    gap: 2em;
    justify-content: center;    
    p{
        max-width: 30em;
        flex: .7;
    }
    svg{
        width: 9em;
        // flex: .3;   
    }
    span{
        font-weight: 600;
        color: var(--primary);
        margin: .0 .2em;
    }
}

#Explanation2{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    padding: var(--common_section_padding);
    background-color: var(--accent1);
    position: relative;

    svg{
        width: 90%;
        max-width: 25em;
        position: absolute;
        z-index: 99;
    }

    .instruction_ctnr{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        position: relative;
        z-index: 100;
    }
    .circled_number{
        text-align: center;
        max-width: min-content;
        padding: .9em;
        border-radius: 50%;
        color: var(--accent1);
        font-weight: var(--lg_wt);
        background-color: var(--proj_black);
    }
    .instruction{
        padding: 1em;
        display: flex;
        border-radius: var(--border_radius1);
        flex-flow: column;
        justify-content: flex-end;
        background-color: var(--proj_black);
        width: 8em;
        height: 12em;
        small{
            text-align: center;
            color: var(--accent1);
        }
    }
}

#Explanation3{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    padding: var(--common_section_padding);
    background-color: var(--proj_white);
    position: relative;
    // padding-bottom: 8em;
    .instruction{
        border-radius: var(--border_radius1);
        flex: .7;
        background-color: var(--proj_black);
        padding: var(--common_section_padding);
        max-width: 30em;
        p{
            color: var(--accent1);
            font-size: var(--sm_sz);
            font-weight: 300;
            margin-bottom: var(--common_margin_bottom);
        }
    }
    svg{
        width: 9em;
    }
    
}


#CallToAction{
    background-image: url('../../static/images/assets/ending_splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--proj_white);
    position: relative;

    padding-bottom: 1em;
    .heading_ctnr{
        padding-top: 18em;
        small,h1{
            color: var(--accent3);
        }
        h1{
            font-size: 2.5em;
            font-weight: 100;

        }
    }
    .cta_ctnr{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: .5em;
        margin-top: var(--common_margin_top);
        h2{
            font-weight: 300;
            color: var(--primary);
        }
        button{
            padding:  .5em 1em;
            border: none;
            font-size: var(--md_sz);
            border-radius: var(--border_radius1);
            background-color: var(--accent1);
            font-weight: 600;
        }
        small{
            color: var(--primary);
        }
    }

}


@media only screen and (min-width: 769px) {
    #CallToAction{
        .heading_ctnr{
            padding-top: 12em;
            text-align: center;
            font-size: 1.5em;
        }
    }

}

// @media only screen and (min-width: 769px) {
//     #CallToAction{
//         .heading_ctnr{
//             padding-top: 12em;
//             text-align: center;
//             font-size: 1.5em;
//         }
//     }

// }