
#Explanation2{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    padding: var(--common_section_padding);
    background-color: var(--accent1);
    position: relative;

    svg{
        width: 90%;
        max-width: 25em;
        position: absolute;
        z-index: 99;
    }

    .instruction_ctnr{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        position: relative;
        z-index: 100;
    }
    .circled_number{
        text-align: center;
        max-width: min-content;
        padding: .9em;
        border-radius: 50%;
        color: var(--accent1);
        font-weight: var(--lg_wt);
        background-color: var(--proj_black);
    }
    .instruction{
        padding: 1em;
        display: flex;
        border-radius: var(--border_radius1);
        flex-flow: column;
        justify-content: flex-end;
        background-color: var(--proj_black);
        width: 8em;
        height: 12em;
        small{
            text-align: center;
            color: var(--accent1);
        }
    }
}
