#Explanation3{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    justify-content: center;
    padding: var(--common_section_padding);
    background-color: var(--proj_white);
    position: relative;
    .instruction{
        border-radius: var(--border_radius1);
        flex: .7;
        background-color: var(--proj_black);
        padding: var(--common_section_padding);
        max-width: 30em;
        p{
            color: var(--accent1);
            font-size: var(--sm_sz);
            font-weight: 300;
            margin-bottom: var(--common_margin_bottom);
        }
    }
    svg{
        width: 9em;
    }
    
}
