#Explanation1{
    padding: var(--common_section_padding);
    display: flex;
    gap: 2em;
    justify-content: center;    
    p{
        max-width: 30em;
        flex: .7;
    }
    svg{
        width: 9em;
        // flex: .3;   
    }
    span{
        font-weight: 600;
        color: var(--primary);
        margin: 0 .2em;
    }
}
